.App {
  text-align: center;
}

.switch-toggle {
  position: relative;
  padding: 8px 16px;
}

.switch-toggle input {
  display: none;
}

.switch-toggle > label {
  padding: 8px 16px;
  color: #fff;
  cursor: pointer;
  background: black;
  transition: all 0.5s;
}

.switch-toggle input:checked + label {
  background: green;
}
